body {
    display: var(--body-display);
    background-color: #113f67;
}

.settings-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: .5em;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #113f67;
}