@page "/"
@using Blazor_Projects.Components

<div class="example-cards">
    <ExampleCard Image="resources/img/examples/cookies.png" Width="500px" Height="auto" BorderRadius="10px" Text="Cookies" Color="#38598b">
    </ExampleCard>
    <ExampleCard Image="resources/img/examples/shopping-list.png" Width="500px" Height="auto" BorderRadius="10px" Text="Shopping List" Color="#38598b">
    </ExampleCard>
    <ExampleCard Image="resources/img/examples/recorder.png" Width="500px" Height="auto" BorderRadius="10px" Text="Recorder" Color="#38598b">
    </ExampleCard>
    <ExampleCard Image="resources/img/examples/profile1.png" Width="500px" Height="auto" BorderRadius="10px" Text="Profile" Color="#38598b">
    </ExampleCard>
    <ExampleCard Image="resources/img/examples/social-invite.png" Width="500px" Height="auto" BorderRadius="10px" Text="Social Invite" Color="#38598b">
    </ExampleCard>    
    <ExampleCard Image="resources/img/examples/storage-plans.png" Width="500px" Height="auto" BorderRadius="10px" Text="Storage Plans" Color="#38598b">
    </ExampleCard>

</div>

