@inherits BaseComponent


<div class="example-card" style="
        --background-color: @BackgroundColor;
        --color: @Color;
        --height: @Height;
        --width: @Width;
        --border-radius: @BorderRadius;
        --border-style: @BorderStyle;
        --border-width: @BorderWidth;
        --border-color: @BorderColor;
">
   
    <img src="@Image">
    <p>@Text</p>
</div>