/*LOADING OVERLAY*/
.loading-overlay {
    z-index: 999;
    background: white;
    height: 100dvh;
    width: 100dvw;
}

.nav {
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    background-color: var(--nav-bg-color);
    height: var(--nav-height);
    width: var(--nav-width);
    gap: var(--nav-gap);
    padding: var(--nav-padding);
}

.nav.p-top{
    top: 0;
    flex-direction: row;
}

.nav.p-right{
    right: 0;
    flex-direction:column
}

.nav.p-bottom{
    bottom: 0;
    flex-direction:row;
}

.nav.p-left{
    left:0;
    flex-direction:column;
}

/*CONTENT SECTION*/
.content {
    background-color: #113f67;
    color: #e7eaf6;
    padding-top: var(--content-padding-top);
    padding-right: var(--content-padding-right);
    padding-bottom: var(--content-padding-bottom);
    padding-left: var(--content-padding-left);
    height: 100dvh
}


/*DEV SECTION*/
.dev {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
    background-color: color-mix(in srgb, lightgray 10%, white);
    border: solid color-mix(in srgb, lightgray 20%, white) 1px;
}

.dev-buttons {
    display: grid;
    grid-template-columns: repeat(3, 20px);
    grid-template-rows: repeat(3, 20px);
    gap: 5px;
}

.dev-buttons button{
    display: grid;
    place-content: center;
    background: lightgrey;
}

.dev-buttons button:hover{
    opacity: .7;
    cursor: pointer;
}

    .dev-buttons #btn-top {
        grid-column: 2;
        grid-row: 1;
    }

    .dev-buttons #btn-right {
        grid-column: 3;
        grid-row: 2;
    }

    .dev-buttons #btn-bottom {
        grid-column: 2;
        grid-row: 3;
    }

    .dev-buttons #btn-left {
        grid-column: 1;
        grid-row: 2;
    }