<li>
    <a href="@Href" style="gap: @GapWidth">
        @if (!string.IsNullOrEmpty(Icon))
        {
            <i class="@Icon" style="font-size: @IconSize"></i>
        }
        @Text
    </a>
</li>