<li>
    <a href="@Href" style="gap: @GapWidth; color: @Colour">
        @if (!string.IsNullOrEmpty(Icon) && (Position == Enums.NavigationPositions.Left || Position == Enums.NavigationPositions.Right))
        {
            <i class="@Icon" style="font-size: @IconSize"></i>
        }
        @Text
    </a>
</li>