@inherits BaseComponent

<div class="nav-section @NavLinkCss">
    <ul class="@NavLinkCss">
        <CascadingValue Value="Position">
            @ChildContent
        </CascadingValue>
    </ul>
</div>

