ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul, .nav-section {
    display: flex;
    gap: var(--nav-section-gap);
}

    .flex.column {
        flex-direction: column;
    }

    .flex.row {
        flex-direction: row;
    }

